body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

#app {
    position: relative;
    display: flex;
    justify-content: center;
}

#video, #overlay {
    position: absolute;
    top: 0;
    left: 0;
}
